<!-- ############################################################################################ -->
<!-- ########################################## BODY ############################################ -->
<!-- ############################################################################################ -->
<div class="section">
  <div class="center">
    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <h1 class="col s12">Bienvenido</h1>
      </div>
    </div>
  </div>
</div>