<!-- ############################################################################################ -->
<!-- ########################################## BODY ############################################ -->
<!-- ############################################################################################ -->
<br><br><br><br><br><br><br><br><br><br>

<div class="row" id="centro">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="assets/img/cuentaBloqueada.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <br>
                    <h5>¿Tiene problema con el usuario o contraseña?</h5>
                    <br>
                    <h5>Favor contactar con la gerencia para solucionarlo</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br>