<!-- ############################################################################################ -->
<!-- ########################################## FOOTER ########################################## -->
<!-- ############################################################################################ -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">PROARINSA</h5>
        <p class="grey-text text-lighten-4">Consultoria y Construcción</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <p class="grey-text text-lighten-4">Central Telefonica: 2260-2744</p>
        <p class="grey-text text-lighten-4">Correo: jramirez@proarinsa.com</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright" id="copyright">    
  </div>
</footer>