<div id="modal1" class="modal">
  <div class="modal-content">
      <table>
          <thead class="centered">
            <tr>
              <td></td>
              <td>Crear</td>
              <td>Editar</td>
              <td>Eliminar</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Consultoria</td>
              <td>
                <p>
                  <input type="checkbox" id="test0" />
                  <label for="test0"></label>
                </p>
              </td>
              <td>
                  <p>
                    <input type="checkbox" id="test1" />
                    <label for="test1"></label>
                  </p>
                </td>
                <td>
                    <p>
                      <input type="checkbox" id="test2" />
                      <label for="test2"></label>
                    </p>
                  </td>
            </tr>
            <tr>
              <td>Construcción</td>
              <td>
                  <p>
                    <input type="checkbox" id="test3" />
                    <label for="test3"></label>
                  </p>
                </td>
                <td>
                    <p>
                      <input type="checkbox" id="test4" />
                      <label for="test4"></label>
                    </p>
                  </td>
                  <td>
                      <p>
                        <input type="checkbox" id="test5" />
                        <label for="test5"></label>
                      </p>
                    </td>
            </tr>
            <tr>
              <td>Financiero</td>
              <td>
                  <p>
                    <input type="checkbox" id="test6" />
                    <label for="test6"></label>
                  </p>
                </td>
                <td>
                    <p>
                      <input type="checkbox" id="test7" />
                      <label for="test7"></label>
                    </p>
                  </td>
                  <td>
                      <p>
                        <input type="checkbox" id="test8" />
                        <label for="test8"></label>
                      </p>
                    </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>

<div class="container"> 
    <div class="row">
      <div class="col s12 m12">
        <div class="card #f5f5f5 grey lighten-4">
          <div class="card-content ">
            <div class="input-field col m6 offset-m5 s8">
              <button type="button" label="Click" (click)="modal1()" class="#039be5 light-blue darken-1 btn">Agregar</button>
            </div>
  
            <div class="input-field col m8 offset-m2 s8">
              <i class="material-icons prefix">search</i>
              <select materialize="material_select" (change)="buscar()" #buscador>
                <option value="" disabled selected>Buscar por</option>
                <option value="nombre">Nombre</option>
                <option value="telefono">Telefono</option>
                <option value="cedula">Cedula</option>
                <option value="todos">Todos</option>
              </select>
            </div>
  
            <table>
              <thead class="centered">
                <tr>
                  <td>Usuario</td>
                  <td>Nombre</td>
                  <td>Apellidos</td>
                  <td>Cedula</td>
                  <td>Contrasena</td>
                  <td>Correo</td>
                  <td>Direccion</td>
                  <td>Privilegios</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of ax">
                  <td>{{v.usuario}}</td>
                  <td>{{v.nombre}}</td>
                  <td>{{v.apellidos}}</td>
                  <td>{{v.cedula}}</td>
                  <td>{{v.contrasena}}</td>
                  <td>{{v.correo}}</td>
                  <td>{{v.direccion}}</td>
                  <td>{{v.privilegios}}</td>
                  <td>
                    <a class="waves-effect waves-light btn-flat" (click)="modal()">
                      <i class="tiny material-icons left">create</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div> 
</div>