<!-- ############################################################################################ -->
<!-- ########################################## BODY ############################################ -->
<!-- ############################################################################################ -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <form (submit)="ClienteSubmit()" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" [(ngModel)]="nombre" name="nombre" class="validate">
          <label for="name">Nombre</label>
        </div>
        <div class="input-field col s12">
          <input id="apellidos" type="text" [(ngModel)]="apellidos" name="apellidos" class="validate">
          <label for="apellidos">Apellidos</label>
        </div>
        <div class="input-field col s12">
          <input id="cedula" type="text" [(ngModel)]="cedula" name="cedula" class="validate">
          <label for="cedula">Cedula</label>
        </div>
        <div class="input-field col s12">
          <input id="correo" type="email" [(ngModel)]="correo" name="correo" class="validate">
          <label for="correo" data-error="wrong" data-success="right">Correo</label>
        </div>
        <div class="input-field col s12">
          <input id="telefono" type="text" [(ngModel)]="telefono" name="telefono" class="validate">
          <label for="telefono">Telefono</label>
        </div>
        <div class="input-field col s12">
          <a class="#d32f2f red darken-2 btn">Cancelar</a>
          <input type="submit" class="#0277bd light-blue darken-3 btn" value="Guardar">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col s12 m12">
      <div class="card #f5f5f5 grey lighten-4">
        <div class="card-content ">
          <div class="input-field col m6 offset-m5 s8">
            <button type="button" label="Click" (click)="modal1()" class="#039be5 light-blue darken-1 btn">Agregar</button>
          </div>

          <div class="input-field col m8 offset-m2 s8">
            <i class="material-icons prefix">search</i>
            <select materialize="material_select">
                        <option value="" disabled selected>Buscar por</option>
                        <option value="Nombre">Nombre</option>
                        <option value="Apellidos">Apellidos</option>
                        <option value="Cedula">Cedula</option>
                        <option value="Todos">Todos</option>
                      </select>
          </div>

          <table class="centered">
            <thead>
              <tr>
                <td>Nombre</td>
                <td>Apellidos</td>
                <td>Cedula</td>
                <td>Telefono</td>
                <td>Correo</td>
                <td>Editar</td>
                <td>Eliminar</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of ax">
                <td>{{v.nombre}}</td>
                <td>{{v.apellidos}}</td>
                <td>{{v.cedula}}</td>
                <td>{{v.telefono}}</td>
                <td>{{v.correo}}</td>
                <td>
                  <a class="waves-effect waves-light btn-flat" (click)="Editar(v.cedula)">
                    <i class="tiny material-icons left">create</i>
                  </a>
                </td>
                <td>
                    <a class="waves-effect waves-light btn-flat" (click)="Eliminar(v.cedula)">
                        <i class="tiny material-icons left">delete</i>
                    </a>  
                </td>  

              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</div>