<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large #b71c1c red darken-4" (click)="atras()">
    <i class="large material-icons">arrow_back</i>
  </a>
</div>

<div id="opciones" class="modal">
  <div class="modal-content">
    <h4 id="mensaje_remplazar_omitir"></h4>
    <ul class="collection with-header">
      <li class="collection-item" (click)="Confirmar_Desenlazar()">
        <div>Eliminar
          <a href="javascript:void(0)" class="secondary-content">
            <i class="material-icons">send</i>
          </a>
        </div>
      </li>
      <li class="collection-item" (click)="Confirmar_Mover_Archivos()">
        <div>Mover a otra carpeta
          <a href="javascript:void(0)" class="secondary-content">
            <i class="material-icons">send</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="modal1" class="modal">
  <ul class="tabs tabs-fixed-width tab-demo ">
    <li class="tab">
      <a class="black-text" href="#test1">Guardar Carpeta</a>
    </li>
    <li class="tab">
      <a class="black-text" href="#test2">Guardar Archivo</a>
    </li>
  </ul>
  <div id="test1" class="col s12">
    <div class="modal-content">
      <div class="input-field col s12">
        <i class="material-icons prefix">folder</i>
        <input id="nombre_carpeta" type="text" class="validate" (keypress)="Expresion_Regular($event)">
        <label for="nombre_carpeta">Nombre de la carpeta</label>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn #0d47a1 red darken-4 modal-action modal-close waves-effect waves-red ">Cancelar</a>
      <a class="btn #0d47a1 blue darken-4 waves-effect waves-green " (click)="Enlazar_Carpeta()">Guardar</a>
    </div>
  </div>
  <div id="test2" class="col s12">
    <div class="modal-content">
      <div class="file-field input-field">
        <div class="btn #2e7d32 green darken-3">
          <span>Archivo</span>
          <input type="file" multiple (change)="onChange($event)">
        </div>
        <div class="file-path-wrapper">
          <input id="inputfile" class="file-path validate" type="text">
        </div>
      </div>
      <div class="chip #ffffff white" *ngFor="let i of upload_files;">
        <img [attr.src]="'assets/img/' + i.ext + '.png'" alt=""> {{i.name}}
        <i class="close material-icons" (click)="delete_upload_file(i.name)">close</i>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn #0d47a1 red darken-4 modal-action modal-close waves-effect waves-red ">Cancelar</a>
      <a class="btn #0d47a1 blue darken-4 waves-effect waves-green " (click)="Enlazar_Archivos()">Guardar</a>
    </div>
  </div>
</div>



<div id="desenlazar" class="modal">
  <div class="modal-content">
    <h4 id="mensaje_eliminar"></h4>
  </div>
  <div class="modal-footer">
    <a class="btn #0d47a1 red darken-4 modal-action modal-close waves-effect waves-red">Cancelar</a>
    <a class="btn #0d47a1 blue darken-4 modal-action modal-close waves-effect waves-blue" (click)="Desenlazar_Archivo()">Aceptar</a>
  </div>
</div>

<div id="tree" class="modal">
  <div class="modal-content">
      <ul class="collapsible" id="mcontent">

      </ul>
  
    <br>
    <div class="input-field ">
      <i class="material-icons prefix">folder_open</i>
      <input id="carpeta_destino" type="text" readonly>
      <input id="carpeta_oculta" type="text" type="hidden">
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn #0d47a1 red darken-4 modal-action modal-close waves-effect waves-red t">Cancelar</a>
    <a class="btn #0d47a1 blue darken-4 modal-action modal-close waves-effect waves-green" (click)="Mover_Archivos()">Mover</a>
  </div>
</div>

<div id="archivo_repetido" class="modal">
  <div class="modal-content">
    <h4 id="mensaje_archivo_repetido"></h4>
    <ul class="collection with-header">
      <li class="collection-item" (click)="rem_omi('reemplazar')">
        <div>Reemplazar en el destino
          <a href="javascript:void(0)" class="secondary-content">
            <i class="material-icons">send</i>
          </a>
        </div>
      </li>
      <li class="collection-item" (click)="rem_omi('omitir')">
        <div>Omitir este archivo
          <a href="javascript:void(0)" class="secondary-content">
            <i class="material-icons">send</i>
          </a>
        </div>
      </li>
    </ul>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="col s12 m12">
      <div class="card #f5f5f5 grey lighten-4">
        <div class="card-content ">
          <nav class="flat">
            <div class="nav-wrapper">
              <div class="col s12 #455a64 blue-grey darken-2">
                <a [routerLink]="['/cliente']" class="breadcrumb">Clientes</a>
                <a [routerLink]="['/proyecto']" class="breadcrumb">Proyectos</a>
                <a [routerLink]="['/archivos']" class="breadcrumb">Documentos</a>
              </div>
            </div>
          </nav>
          <br>
          <div class="input-field col m6 offset-m5 s8">
            <button type="button" label="Click" (click)="modal1()" class="#0d47a1 blue darken-4 btn">Guardar</button>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="input-field col m8 offset-m2 s8">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Buscar por nombre</label>
              </div>
            </div>
          </div>
          <div class="row">
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1 black-text ">
              <li class="tab">
                <a class="active black-text" href="#tab_carpetas">Carpetas</a>
              </li>
              <li class="tab">
                <a class="black-text" href="#tab_archivos">Archivos</a>
              </li>
            </ul>

            <div id="tab_carpetas">
              <ul class="collection" *ngFor="let i of carpetas; let j = index " [style.overflow]="'visible'">
                <li class="collection-item avatar">
                  <img src="assets/img/folder.png" alt="" class="circle">
                  <span class="title" [attr.id]="'tt'+ j" (click)="mostar_editar_nombre_carpeta(j)">{{i.nombre_carpeta}}</span>

                  <span class="title" style="display: none" [attr.id]="'ii'+ j">
                    <input type="text" class="validate title" [attr.id]="'input_carpeta'+j" [attr.value]="i.nombre_carpeta" (blur)="editar_nombre_carpeta(j, i, p)" (keypress)="Expresion_Regular($event)">
                  </span>

                  <a materialize="dropdown" class='secondary-content dropdown-button btn' href='#' [attr.data-activates]="'ddd'+ j">
                    <i class="material-icons">dehaze</i>
                  </a>
                  <ul [attr.id]="'ddd'+ j" class='dropdown-content'>
                    <li>
                      <a (click)="Abrir_Carpeta(i)">Abrir</a>
                    </li>
                    <li>
                      <a (click)="Confirmar_eliminar_Carpeta(i)">Eliminar</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div id="tab_archivos">
              <br>
              <div *ngIf="flag">
                <button type="button" label="Click" (click)="set_flag(false)" class="#0d47a1 blue darken-4 btn">Seleccionar</button>
              </div>
              <div *ngIf="!flag">
                <a materialize="dropdown" class='dropdown-button btn' href='#' data-activates='options'>opciones</a>

                <ul id='options' class='dropdown-content'>
                  <li>
                    <a (click)="opciones()">
                      <i class="material-icons">arrow_forward</i>Continuar</a>
                  </li>
                  <li>
                    <a (click)="select_all()">
                      <i class="material-icons">select_all</i>Seleccionar todo</a>
                  </li>
                  <li>
                    <a (click)="set_flag(true)">
                      <i class="material-icons">cancel</i>Cancelar</a>
                  </li>
                </ul>
              </div>
              <ul class="collection" *ngFor="let i of archivos | paginate: {itemsPerPage:5, currentPage: p} let j = index" [style.overflow]="'visible'">
                <li class="collection-item avatar">
                  <img [attr.src]="'assets/img/' + i.extension + '.png'" alt="" class="circle">
                  <span class="title" [attr.id]="'t'+ j" (click)="mostar_editar_nombre(j)">{{i.nombre_archivo}}</span>

                  <span class="title" style="display: none" [attr.id]="'i'+ j">
                    <input type="text" class="validate title" [attr.id]="'input'+j" [attr.value]="i.nombre_archivo" (blur)="editar_nombre(j, i, p)">
                  </span>


                  <div *ngIf="flag">
                    <a class="secondary-content" (click)="Abrir_Archivo(i)" href="javascript:void(0)">
                      <i class="material-icons">send</i>
                    </a>
                    <!-- <a materialize="dropdown" class='secondary-content dropdown-button btn' href='#' [attr.data-activates]="'dd'+ j">
                      <i class="material-icons">dehaze</i>
                    </a>
                    <ul [attr.id]="'dd'+ j" class='dropdown-content'>
                      <li>
                        <a (click)="Abrir_Archivo(i)">Abrir</a>
                      </li>
                      <li>
                        <a (click)="Confirmar_Desenlazar(i)">Desenlazar</a>
                      </li>
                    </ul> -->
                  </div>
                  <div *ngIf="!flag">
                    <form action="#" class='secondary-content'>
                      <p>
                        <input class="chk" type="checkbox" [attr.id]="'checkbox'+ j" [attr.data-value]="i.nombre_archivo" />
                        <label [attr.for]="'checkbox'+ j"></label>
                      </p>
                    </form>
                  </div>
                </li>
              </ul>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
