<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="file-field input-field">
      <div class="btn">
        <span>Archivo</span>
        <input type="file" id="fl1" #abc>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" id="fl2">
      </div>
    </div>
    <p>
      <input name="group1" type="radio" id="Publico" value="publico" checked/>
      <label for="Publico">Publico</label>
    </p>
    <p>
      <input name="group1" type="radio" id="Privado" value="privado"/>
      <label for="Privado">Privado</label>
    </p>
  </div>
  <div class="modal-footer">
    <a class="btn #f44336 red modal-action modal-close waves-effect waves-red ">Cancelar</a>
    <a class="btn #00b0ff #1565c0 blue darken-3 waves-effect waves-green " (click)="Enlazar_Archivos()">Guardar</a>
  </div>
</div>

<div id="eliminar" class="modal">
  <div class="modal-content">
    <h4>¿Realmente deseea desenlazar el archivo?</h4>
  </div>
  <div class="modal-footer">
    <a class="btn #f44336 red modal-action modal-close waves-effect waves-red t">Cancelar</a>
    <a class="btn #00b0ff #1565c0 blue darken-3 modal-action modal-close waves-effect waves-green" (click)="Desenlazar_Archivo()">Aceptar</a>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col s12 m12">
      <div class="card #f5f5f5 grey lighten-4">
        <div class="card-content ">
          <span class="card-title">Archivos del proyecto {{pkProyecto}}</span>
          <div class="input-field col m6 offset-m5 s8">
            <button type="button" label="Click" (click)="modal1()" class="#039be5 light-blue darken-1 btn">Agregar Archivo</button>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="input-field col m8 offset-m2 s8">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Buscar por nombre</label>
              </div>
            </div>
          </div>
          <div class="row">
            <ul class="collection" *ngFor="let i of archivos | paginate: {itemsPerPage:5, currentPage: p} ; let j = index " [style.overflow]="'visible'">
              <li class="collection-item avatar">
                <img [attr.src]="'assets/img/' + i.extension + '.png'" alt="" class="circle">
                <!-- <div *ngIf="i.extension == 'pdf'">
                    <img src="assets/img/pdf.png" alt="" class="circle">
                </div>
                <div *ngIf="i.extension == 'docx'">
                    <img src="assets/img/word.png" alt="" class="circle">
                </div>
                <div *ngIf="i.extension == 'png'">
                    <img src="assets/img/img.png" alt="" class="circle">
                </div> -->
                <span class="title">{{i.nombre}}</span>
                <a materialize="dropdown" class='secondary-content dropdown-button btn' href='#' [attr.data-activates]="'dd'+ j">
                  <i class="material-icons">dehaze</i>
                </a>
                <ul [attr.id]="'dd'+ j" class='dropdown-content'>
                  <li>
                    <a (click)="Abrir_Archivo(i.nombre, i.publico)">Abrir</a>
                  </li>
                  <li>
                    <a (click)="Confirmar_eliminar(i.nombre)">Desenlazar</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>