<!-- ############################################################################################ -->
<!-- ########################################## HEADER ########################################## -->
<!-- ############################################################################################ -->
<div class="container-fluid">
    <img src="assets/img/oie_transparent.png" height="100" width="300">
    <div class="derecha">
        <a class="nav-wrapper #0277bd light-blue darken-3 btn" [routerLink]="['/Ingresar']">Ingresar</a>  
        <a class="nav-wrapper #0277bd light-blue darken-3 btn" [routerLink]="['/Register']">Registrar</a>  
    </div>
    <nav>
        <div class="nav-wrapper #0277bd light-blue darken-3">
          <a [routerLink]="['/Inicio']" class="brand-logo"><i class="material-icons">home</i>Inicio</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a [routerLink]="['/Empleados']">Recurso Humano</a></li>
              <li><a [routerLink]="['/Proyectos']">Proyectos</a></li>
              <li><a [routerLink]="['/Cliente']">Clientes</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">Javascript</a></li>
              <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </nav>       
  </div>
<!-- ############################################################################################ -->
<!-- ########################################## BODY ############################################ -->
<!-- ############################################################################################ -->
<div>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br>
  </div>
<!-- ############################################################################################ -->
<!-- ########################################## FOOTER ########################################## -->
<!-- ############################################################################################ -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">PROARINSA S.A</h5>
        <p class="grey-text text-lighten-4">Consultoria y Construcción</p>
        <p class="grey-text text-lighten-4">Central Telefonica: 2260-2744</p>
        <p class="grey-text text-lighten-4">Correo: jramirez@proarinsa.com</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Jerry Ramirez D.</h5>
        <p class="grey-text text-lighten-4">Celular: 8384-5615</p>
        <p class="grey-text text-lighten-4">Correo: jerryramirez@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
</footer>
