<!-- ############################################################################################ -->
<!-- ########################################## HEADER ########################################## -->
<!-- ############################################################################################ -->
<div class="container-fluid">
  <!-- #################################### LOGO ON TOP ######################################### -->
  <div class="row">
    <div class="col m1">
      <img src="assets/img/oie_transparent.png" height="100" width="300">
    </div>
  </div>
  <nav>
    <div class="nav-wrapper" id="navegador">
      <a [routerLink]="['/inicio']" class="brand-logo">
        <i class="material-icons">home</i>Inicio</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <div *ngIf="anyone_In_Session() && this.updateName(); else other">
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/google']">Google Maps</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/proyecto']">Proyectos</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/cliente']">Clientes</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/empleado']">Empleados</a>
          </li>
          <!-- ################### DROP DOWN TRIGGER ################## -->
          <!-- ################### NOMBRE DE USUARIO ################## -->
          <!-- ######################################################## -->
          <!-- <li>
            <a class="dropdown-button" id="User" data-activates="dropdown" data-beloworigin="true">{{username}}</a>
            
          </li> -->
          <li>
            <a class="dropdown-button" id="User" data-activates="dropdown" data-beloworigin="true">{{username}}
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
        </div>
        <ng-template #other>
          <li>
            <a [routerLink]="['/ingresar']">Ingresar</a>
          </li>
        </ng-template>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <div *ngIf="anyone_In_Session() && this.updateName(); else other">
          <!-- ######################################################## -->
          <!-- ############### PROFILE PLACE HOLDER ################### -->
          <li>
            <a class="#2e7d32" id="User">
              <i class="tiny material-icons">account_circle</i>{{username}}</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/google']">Google Maps</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/proyecto']">Proyectos</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/cliente']">Clientes</a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['/empleado']">Empleados</a>
          </li>
          <!-- ######################################################## -->
          <!-- ######################### SALIR ######################## -->
          <li>
            <a (click)="onLogoutClick()">
              <i class="tiny material-icons">power_settings_new</i>Salir</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>

<ul id='dropdown' class='dropdown-content'>
  <li>
    <a (click)="onLogoutClick()">Salir</a>
  </li>
</ul>