<!-- ############################################################################################ -->
<!-- ########################################## HEADER ########################################## -->
<!-- ############################################################################################ -->
<div class="container-fluid">
  

  <div class="row">
      <div class="col m1"><img src="assets/img/oie_transparent.png" height="100" width="300"></div>
      <!-- <div class="col m3 push-m8">
          <a class="nav-wrapper #0277bd light-blue darken-3 btn" [routerLink]="['/ingresar']">Ingresar</a>
          <a class="nav-wrapper #0277bd light-blue darken-3 btn" [routerLink]="['/register']">Registrar</a>
      </div> -->
    </div>
  <nav>
    <div class="nav-wrapper #0277bd light-blue darken-3">
      <a [routerLink]="['/inicio']" class="brand-logo"><i class="material-icons">home</i>Inicio</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <div *ngIf="Anyone_In_Session(); else other">
              <li><a [routerLink]="['/empleados']">Recurso Humano</a></li>
              <li><a [routerLink]="['/proyectos']">Proyectos</a></li>
              <li><a [routerLink]="['/cliente']">Clientes</a></li>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown" data-beloworigin="true">{{username}}</a></li>
              <!-- <li><a>{{username}}<i class="tiny material-icons">account_circle</i></a></li> -->
          </div>
          <ng-template #other>
            <li [routerLink]="['/ingresar']"><a>Ingresar</a></li>
          </ng-template>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a [routerLink]="['/empleados']">Recurso Humano</a></li>
          <li><a [routerLink]="['/proyectos']">Proyectos</a></li>
          <li><a [routerLink]="['/cliente']">Clientes</a></li>
      </ul>
    </div>
  </nav>


</div>

<ul id='dropdown' class='dropdown-content'>
    <li><a href="#!">Perfil</a></li>
    <li><a href="#!">Cerrar Sesión</a></li>
  </ul>